@model AgendamentoConsultas.Models.Consultas.ConsultaEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConsultaEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProcedimeneto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProcedimeneto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anamnese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anamnese.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
